[submodule "CompanyManager"]
	url = https://github.com/GlennCuevas/CompanyManager.git
[submodule "StoreManager"]
	url = https://github.com/GlennCuevas/StoreManager.git

[submodule "Core"]
	url = https://github.com/GlennCuevas/CoreLibrary.git
